.cart-icon {
  color: white;
  background-color: green;
  border-radius: 50%;
  padding: 10px;
  font-size: 2rem;
  position: relative;
  display: inline-block;
  width: 45px;
  height: 45px;
}

.cart-badge {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  font-size: 0.7rem;
}
